<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tidal Rush Digital</title>
    </head>
    <body>
        <header>
        <nav>
            <ul *ngIf="!isMobile" class="desktop-menu">
                <li *ngFor="let section of sections">
                    <button class="navbutton" (click)="scrollTo(section.id)">{{ section.title }}</button>
                </li>
            </ul>
            <ul *ngIf="isMobile">
                <button class="hamburger-button" (click)="toggleMenu()">
                    <img src="hamburger.svg" alt="Menu">
                </button>
            </ul>
            <ul *ngIf="showMenu && isMobile" class="mobile-menu">
                <li *ngFor="let section of sections">
                    <button class="navbutton" (click)="scrollTo(section.id)">{{ section.title }}</button>
                </li>
            </ul>
        </nav>
        </header>
        <main>
            <section id="home" [ngStyle]="{ 'background-image': isMobile ? 'url(' + mobileImageUrl + ')' : 'url(' + desktopImageUrl + ')' }">
                <h2>Tidal Rush Digital</h2>
                <p>Crafting immersive gaming experiences.</p>
            </section>
            <section id="game">
                <h2>Toybox Tactics</h2>

                <div class="slider-container">
                    <div class="slider-dots">
                    <span *ngFor="let dot of slides; let i = index" 
                            (click)="goToSlide(i)" 
                            [class.active]="currentSlide === i"></span>
                    </div>

                    <div class="slider-wrapper">
                    <button class="slider-arrow left" (click)="prevSlide()">
                        &lt;
                    </button>

                    <div class="slider-track" [style.transform]="'translateX(' + (-currentSlide * 100) + '%)'">
                        <div *ngFor="let slide of slides" class="slide">
                        <div class="slider-content">
                            <img [src]="slide.image" alt="Slide Image">
                            <p class="slide-text">{{ slide.text }}</p>
                        </div>
                        </div>
                    </div>

                    <button class="slider-arrow right" (click)="nextSlide()">
                        &gt;
                    </button>
                    </div>
                </div>
            </section>
            <section id="about">
                <h2>About Us</h2>
                <p>We are a passionate team of game developers dedicated to creating unique and engaging games.</p>
                <ul class="profiles">
                    <li *ngFor="let profile of profiles" class="profiles"><img [src]="profile.image"><p>{{profile.text}}</p></li>
                </ul>
            </section>
            <section id="contact" style="background-image: url('shore.jpg');">
                <h2>Contact Us!</h2>
                <p>Email: tidalrushdigital&commat;gmail.com</p>
                <ul class="socials">
                    <li class="socials"><a href="https://www.twitter.com"><img src="X.svg" alt="X"></a></li>
                    <li class="socials"><a href="https://www.instagram.com"><img src="instagram.svg" alt="Instagram"></a></li>
                    <li class="socials"><a href="https://www.facebook.com"><img src="facebook.svg" alt="Facebook"></a></li>
                    <li class="socials"><a href="https://www.linkedin.com"><img src="linkedin.svg" alt="LinkedIn"></a></li>
                </ul>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 Tidal Rush Digital</p>
        </footer>
    </body>
</html>